/* version 5 of RC
.popup-user-name {
    visibility: hidden;
}

.popup-user-name > strong {
    visibility: visible;
}*/
.rcx-option__content {
    visibility: hidden;
}

.rcx-option__content > strong {
    visibility: visible;
}